@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");

:root {
  --primary-color: #00c468;
}

* {
  box-sizing: border-box;
}

h1 {
  color: var(--primary-color);
}

p {
  text-align: center;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Castoro", serif;
  min-height: 90vh;
  margin: 0;
}

button {
  margin: 5px;
  background: var(--primary-color);
  border-radius: 5px;
  box-shadow: 2px 2px;
  cursor: pointer;
  font-size: 14px;
  color: #f4f4f4fa;
  padding: 3px;
}

img {
  margin: 20px;
  filter: grayscale(30%);
  height: 25vh;
  width: auto;
}

.currency {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.currency select {
  padding: 2px 2px 2px 2px;
  background-color: var(--primary-color);
  color: #f4f4f4fa;
  font: bold;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: var();
}

.currency input {
  border-color: #f4f4f4bb;
  background-color: #f4f4f475;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}
